moviepy==1.0.3
pyyaml==6.0
python-pptx==0.6.21
pywin32==304
imageio[pyav]== 2.21.2
psd-tools==1.9.22
pygame==2.1.2
git+https://github.com/masachaco/pyvcroid2.git@main
sphinx==5.1.1
sphinx-rtd-theme==1.0.0
Pillow==9.2.0